/* Estilos para telas maiores (desktop) */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 0;
}

.AskBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 300px;
  border-color: rgb(70, 70, 70);
  border: rgb(0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.buttonAsk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 23px;
  text-decoration: none;

}

@media (max-width: 896px) {
  .AskBox {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .inputAskBox {
    font-size: 16px;
  }

  .buttonAsk {
    width: 350px;
  }
}


